.custom-navbar {
    background-color: #5b2c1d;
    position: relative;
}

/* Links */
.nav-link {
    color: #ddd !important;
    font-size: 14px;
}

.nav-link.active {
    color: #f4a100 !important;
    border-bottom: 2px solid #f4a100;
}

/* Botão */
.btn-warning {
    background-color: #f4a100;
    border: none;
}

/* Título central */
.title-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: serif;
    letter-spacing: 2px;
}